.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 330px;
    height: 330px;
    position: relative;
    background-color: white;

}

.card img {
    object-fit: cover;
    width: 100%;
    height: 83%;
    border-radius: 10px 10px 0 0;
}
.card p {
    font-size: 17px;
    max-height: 80px;
    overflow: hidden;
    margin: 4px 4px 4px 4px;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .card {
        width: 260px;
        height: 255px;
    }
}

