/*NotFoundPage.css*/

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.error-container img {
  height: 200px;
  margin-top: 16%;
}
.error-container h2 {
  margin-top: 8%;
  font-size: 36px;
}
.error-container p {
  margin-top: 15%;
  font-size: 18px;
}
.error-container a {
  color: rgba(255, 96, 96, 1);
}
@media only screen and (max-width: 600px) {
  .error-container img {
    height: 80px;
    margin-top: 40%;
  }
  .error-container h2 {
    margin-top: 8%;
    font-size: 18px;
  }
  .error-container p {
    margin-top: 35%;
    font-size: 14px;
  }
}
